import * as React from 'react';

import { {{ name }}PropsType } from './types';
import {{ name }}Styled from './styles';

const {{ name }} : React.StatelessComponent<{{ name }}PropsType> = ( props : {{ name }}PropsType ) => (
        <{{ name }}Styled>
            {{ name }}
        </{{ name }}Styled>
);

export { {{ name }} as default };
