import * as React from 'react';

import {
    {{ name }}PropsType,
    {{ name }}StateType,
} from './types';
import {{ name }}Styled from './styles';

class {{ name }} extends React.Component<
  {{ name }}PropsType,
  {{ name }}StateType
> {
  constructor(props: {{ name }}PropsType) {
    super(props);
    this.state = {
      stateItem: true,
    };
  }

  render(): JSX.Element {
    return (
        <{{ name }}Styled>
            {{ name }}
        </{{ name }}Styled>
    );
  }
}

export { {{ name }} as default };
